---
- name: Create systemd unit to manage Guacamole Docker Compose stack
  ansible.builtin.copy:
    dest: "/etc/systemd/system/{{ guac_systemd_service_name }}.service"
    mode: "0644"
    content: |
      [Unit]
      Description=Apache Guacamole Docker Compose Stack
      Requires=docker.service
      After=docker.service

      [Service]
      Type=oneshot
      WorkingDirectory={{ guac_base_dir }}
      ExecStart=/usr/bin/docker compose up -d
      ExecStop=/usr/bin/docker compose down
      RemainAfterExit=yes
      TimeoutStartSec=0

      [Install]
      WantedBy=multi-user.target

- name: Reload systemd daemon
  ansible.builtin.systemd:
    daemon_reload: true

- name: Enable and start Guacamole systemd service
  ansible.builtin.systemd:
    name: "{{ guac_systemd_service_name }}"
    enabled: true
    state: started
